:development:
  :public_path: public
  :storage_path: storage
  :db:
    :database: db/development.db
    :adapter: sqlite3

:test:
  :public_path: public
  :storage_path: test/storage
  :db:
    :database: db/test.db
    :adapter: sqlite3

:production:
  :public_path: public
  :storage_path: storage
  :db:
    :database: db/production.db
    :adapter: sqlite3
