%form.create{ :method => "post" }
  = preserve errors_for(@usero)
  - if @user.google_auth_key.nil?
    %h3 Activate Two Factor Authentication
    %p Step 1) Scan or enter your secret key into Google Authenticator
    %div{ :style => "width:250px;text-align:center;font-weight:bold" }
      %img{ :src => @ga.qrcode_image_url(@usero.email, 250) }
      %p #{@ga.secret_key}
    %p Step 2) Enter a current valid code and save to activate
    %div.required
      %label{ :for => "key" } Key
      %input{ :type => "text", :name => "key" }
  - if !@user.google_auth_key.nil?
    %h3 Remove Two Factor Authentication
    %p
      %input{ :type => "checkbox", :name => "remove_google_auth", :value => "1" }
      Yes, remove two factor authentication from my account 
  %input#saveuser{ :type => "submit", :value => "Save", :name => "saveuser" }
