%html
  %head
    %title Control Center &raquo; #{@title}
    %script{ :language => "JavaScript", :type => "text/javascript", :src => "/control/s/js/prototype.js" }
    %style{ :type => "text/css" }
      @import '/control/s/css/control.css';
  %body
    %div#page
      - if @user and not @login
        %div.menu
          %ul
            %li
              %a{ :href => "/control/buckets" } buckets
              - if @user.superuser?
                %a{ :href => "/control/users" } users
              %a{ :href => "/control/profile" } profile
              %a{ :href => "/control/logout" } logout
      %div#header
        %h1 Control Center
        %h2 #{@title}
      %div#content
        = yield
