%form.create{ :method => "post" }
  %div.required
    %label{ :for => "login" } User
    %input#login{ :type => "text", :name => "login" }
  %div.required
    %label{ :for => "password" } Password
    %input#password{ :type => "password", :name => "password" }
  %input#loggo{ :type => "submit", :value => "Login", :name => "loggo" }
