%form.create{ :method => "post" }
  = preserve errors_for(@usero)
  - if @user.superuser?
    %div.required.inline
      %label{ :for => "user[superuser]" } Is a super-admin?
      %input{ :type => "hidden", :name => "user[superuser]", :value => 0 }
      %input{ :type => "checkbox", :name => "user[superuser]", :value => 1, :checked => @usero.superuser? }
  %div.required
    %label{ :for => "user[password]" } Password
    %input.fixed{ :type => "password", :name => "user[password]" }
    - if defined?(GoogleAuthenticator)
      %small
        [
        %a{ :href => "/control/auth" }= @user.google_auth_key.nil? ? "Add Two Factor Authentication" : "Remove Two Factor Authentication"
        ]
  %div.required
    %label{ :for => "user[password_confirmation]" } Password again
    %input.fixed{ :type => "password", :name => "user[password_confirmation]" }
  %div.required
    %label{ :for => "user[email]" } Email
    %input{ :type => "text", :value => @usero.email, :name => "user[email]" }
  %div.required
    %label{ :for => "key" } Key
    %h4 #{@usero.key}
  %div.required
    %label{ :for => "secret" } Secret
    %h4 #{@usero.secret}
  %input#saveuser{ :type => "submit", :value => "Save", :name => "saveuser" }
